
#cssmenu {
  margin: 0;
  list-style: none;
  line-height: 1;
  display: block;
  font-family: Gotham, Helvetica, sans-serif;
}

.nav {
  background-color: #BEAA31;
  width: 100%;
}

.navbar .navbar-inner ul.nav a:hover {
    color: #000000 !important; 
}

body {
  background-color:#302A14;
}
/*Primary content background, fonts, etc,*/
.content {
	margin: auto;
	padding-top: 50px;
	height:auto;
	font-family: Helvetica, sans-serif;
	text-overflow:ellipsis;
}

.active {
  background-color:#2D2B14;
}

.missionbody {
  height: 500px;
  vertical-align: middle;
  text-align: center;
  background-color: #B7E0D8;
}

<<<<<<< HEAD
.missiontext {
 background-color:rgba(0,0,0,0.5);
 filter: alpha(opacity=50); 
 display: inline-block;
 width: 75%; 
 text-align: center; 
 margin-top: 10%;
 border-radius: 25px;
}

.missiontext h1 {
  font-weight: bolder;
  color: white;
}
.missiontext p {
    margin: 30px 40px;
    color: white;
    opacity: 1;
=======
.active {
  background-color:#ff0000;
}
.homebg {
  width: 100%;
  background-color:#66FFFF;
}
.homebg h1 {
  text-align:center;
  font-weight: bold;
}
.homebg h2 {
  text-align:center;
  padding-top: 5%;
}
.hometext {
  background-color:black;
  width:100%;
  margin-top: 5%;
}
.hometext p {
  color: white;
  font-size:12px;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
>>>>>>> origin/master
}
