<div class="donatepage">
	<ul ng-init="tab = 1">
        <li ng-class="{active:tab===1}" style="background-color:#EE5B28"> 
            <a href ng-click="tab = 1">Goods</a>    
        </li>
        <li ng-class="{active:tab===2}" style="background-color:#8DD2BF"> 
            <a href ng-click="tab = 2">Time</a> 
        </li>
        <li ng-class="{active:tab===3}" style="background-color:#C2A933"> 
            <a href ng-click="tab = 3">Money</a> 
        </li>
        <div ng-show="tab === 1">
            <div class="donategoods">
                adsfsd
            </div>
        </div>
        <div ng-show="tab === 2"> 
            <div class="donatetime">
                adsfsd
            </div>
        </div>
        <div ng-show="tab === 3" >
            <div class="donatemoney">
                
            </div>
        </div>
    </ul>       
</div>		