<div class="eventspage">
	<div class="eventsbody">
		<div class="upcomingevents" ng-style="BackgroundImage">
			<!--<a href="#donate"><button class="btn btn-lg btn-primary btn-tickets">Buy Tickets</button></a>-->
		</div>
		<div class="pastevents">
			<h1>2014 Events</h1>
			<div class="row events">
	    		<div class="col-sm-12 col-md-3">
	      			<img src="HopeForHolidays.jpg" alt="Hope for the Holidays" style="width: 250px">
	    		</div><!-- /.col-lg-4 -->
	    		<div class="col-sm-12 col-md-3">
	      			<img src="HopeForHolidays.jpg" alt="Hope for the Holidays" style="width: 250px">
	    		</div><!-- /.col-lg-4 -->
	  		</div><!-- /.row -->
	  		<br><br>
	  	</div>
	</div>
</div>

