<body>	
	<div class="homebg">
		<h1>MELODY OF HOPE</h>
		<div class="hometext">
			<p> Melody of Hope is a non-profit for the non-profits.  We partner with musicians to support local non-profit
				organizations by raising funds and awareness for their causes.  Melody of Hope provides a means for the
				musical arts to positively impact local communities.
			</p>
		</div>
		<h2>LET THE MUSIC BRING HOPE</h>
      <p><a class="btn btn-lg btn-primary btn-give" href="#" role="button">Give</a>
      <a class="btn btn-lg btn-primary btn-serve" href="#" role="button">Serve</a></p>
	</div>	

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="mid">
        <div class="col-lg-4 col-home-1">
          <h2>
          	<div class="header1">
          		<p>UPCOMING</p>
          		<p>EVENTS</p>
          	</div>
          </h2>
          <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%; height: 140px;">
          <p>Green River Ordinance October 1, 2014.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-home-2">
          <h2>
          	<div class="header2">
          		<p>FEATURED</p>
          		<p>ARTIST</p>
          	</div>
          </h2>
          <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%; height: 140px;">
          <p>David Dunn was born, learned music, and performed it.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-home-3">
          <h2>
          	<div class="header3">
          		<p>LATEST</p>
          		<p>BLOG</p>
          	</div>
          </h2>
          <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%; height: 140px;">
          <p>The MoH team recently visited the Net of Fort Worth to help our with their cause.</p>
        </div><!-- /.col-lg-4 -->
      </div><!--/.mid -->
      </div><!-- /.row -->


      <!-- Instagram Gallery -->
      <div class="instagram-gallery">
        <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%; height: 140px;">
      </div>

      <!-- Bottom Bar Home -->
      <div class="bottom-bar-home">
      </div>
</body>