
<body>	
<link rel="stylesheet" type="text/css" href="../../css/styles.css"></link> 
	<div class="team-body">
	<div class="team-description">
		<h1>MEET MELODY OF HOPE</h1>
		<div class="team-header">
			<div class="team-image">
				<img class="img-square" src="UC4Life-Logo.png">
			</div>
			<div class="teamtext">
				<p> Melody of Hope is an electic team of vibrant youthful professionals inspired to change the world starting with North Texas.  We are scattered across DFWd, yet unite under a singular vision: to see music bring jope to our local community.  What you see on the left is a formidible force.  The short period of time in which this team has assembled is indicative of the momentum at which melody of hope has plowed forward.  The volume of financial donors, organization partners, and event sponsors MoH has acquired is telling of the charisma and unity with which we operate.  Needless to say, meetings are fun, exciting and full of laughter.  If you don't know us, we hope to meet you soon!
				</p>
			</div>
		</div>
	</div>	


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container boardmembers">
    	<h1>BOARD OF DIRECTORS</h1>

      <!-- Three columns of text below the carousel -->
      <div class="row board-wrapper">
        <div class="mid">
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%;">
          <p>Charlie Welch</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%;">
          <p>Charlie Welch</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%;">
          <p>Charlie Welch</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%;">
          <p>Charlie Welch</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%;">
          <p>Charlie Welch</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%;">
          <p>Charlie Welch</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%;">
          <p>Charlie Welch</p>
        </div><!-- /.col-lg-4 -->
      </div><!--/.mid -->
      </div><!-- /.row -->

      <h1> VOLUNTEERS </h1>
  </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
</body>
