<!DOCTYPE html>
<html>

	
<head>
	<!-- Imported CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css"></link>
	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css"></link>
	<!-- handmade css -->
	<link rel="stylesheet" type="text/css" href="css/styles.css"></link>	
	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Offside|Chelsea+Market' rel='stylesheet' type='text/css'>
	
	
</head>

<body ng-app="MelodyOfHope" ng-controller="MainController">
	<div id='cssmenu'>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

			<div class="navbar-header">
				<a class="logo" href="#"><img alt="Brand" src="images/navbar-logo.png" style="width: 50px"></a>
        <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
			</div>
			<div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
				<ul class="nav navbar-nav">
				   <li ng-class="{ active: isActive('/home')}" ng-click="collapseMenu()"><a href='#/home'><span>Home</span></a></li>
				   <li ng-class="{ active: isActive('/mission')}" ng-click="collapseMenu()"><a href='#/mission'><span>Mission</span></a></li>
				   <li ng-class="{ active: isActive('/events')}" ng-click="collapseMenu()"><a href='#/events'><span>Events</span></a></li>
				   <li ng-class="{ active: isActive('/blog')}" ng-click="collapseMenu()"><a href='#/blog'><span >Newsletter</span></a></li>
				   <li ng-class="{ active: isActive('/team')}" ng-click="collapseMenu()"><a href='#/team'><span>Team</span></a></li>
				   <li ng-class="{ active: isActive('/contact')}" ng-click="collapseMenu()"><a href='#/contact'><span>Contact</span></a></li>
				   <li ng-class="{ active: isActive('/donate')}" ng-click="collapseMenu()"><a href='#/donate'><span>Donate</span></a></li>
				</ul>
			</div>
		</nav>
	</div>		
	<div class="content" ng-view padding-top:65px>
	</div>
	<div class="footer navbar-fixed-bottom">
		<div class="row" align="center">
    		<a href="http://facebook.com/melodyofhope/" onmouseover="return fbchangeImage()" onmouseout="return fbchangeImageBack()" onmousedown="return fbhandleMDown()">
        <img name="fbicon" src="./images/fbup.png" width="50" height="50" border="0" alt="Facebook"></a>
        <a href="http://twitter.com/melodyofhopeorg/" onmouseover="return twchangeImage()" onmouseout="return twchangeImageBack()" onmousedown="return twhandleMDown()">
        <img name="twicon" src="./images/twup.png" width="50" height="50" border="0" alt="Twitter"></a>
        <a href="http://instagram.com/melodyofhope/" onmouseover="return igchangeImage()" onmouseout="return igchangeImageBack()" onmousedown="return ighandleMDown()">
        <img name="igicon" src="./images/igup.png" width="50" height="50" border="0" alt="Instagram"></a>
</div>
  </div>

  <!-- angular.js-->
	<script type="text/javascript" src="scripts/angular.min.js"></script>
	<script type="text/javascript" src="scripts/angular.min.js.map"></script>
	<script type="text/javascript" src="scripts/angular-route.min.js"></script>	
	<script type="text/javascript" src="scripts/ui-bootstrap.min.js"></script>	

	<!-- Angular /scripts and /controllers-->
	<script type="text/javascript" charset="utf8" src="scripts/app.js"></script>
	<script type="text/javascript" charset="utf8" src="controllers/mainctrl.js"></script>
	<script type="text/javascript" charset="utf8" src="controllers/homectrl.js"></script>
	<script type="text/javascript" charset="utf8" src="controllers/missionctrl.js"></script>
	<script type="text/javascript" charset="utf8" src="controllers/eventsctrl.js"></script>
	<script type="text/javascript" charset="utf8" src="controllers/blogctrl.js"></script>
	<script type="text/javascript" charset="utf8" src="controllers/teamctrl.js"></script>
	<script type="text/javascript" charset="utf8" src="controllers/contactctrl.js"></script>
	<script type="text/javascript" charset="utf8" src="controllers/donatectrl.js"></script>
</body>
</html>