<div class="contactpage">
	<div class="contactbody">
        <br><br>
    	<h1 align="center">Contact Information</h1>
    	<br>
        <p>If you have any questions, suggestions, encouragements, or simply want to know more about Melody of Hope, please email board@melodyofhope.org.</p><p>You may also contact the following people directly:</p><p><b>Charlie Wendell</b><br>Executive Director and President<br>Charlie.Welch@melodyofhope.org<br>972-977-6064</p><p><b>Jeremy Ottens</b><br>Vice President<br>Jeremy@melodyofhope.org<br>469.831.3894</p>
	</div>
</div>
