<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>	
	<div class="homebg" ng-style="BackgroundImage">
		<h1>MELODY OF HOPE</h1>
		<div class="hometext">
			<p> Melody of Hope is a non-profit for the non-profits.  We partner with musicians to support local non-profit
				organizations by raising funds and awareness for their causes.  Melody of Hope provides a means for the
				musical arts to positively impact local communities.
			</p>
		</div>
		<h2>LET THE MUSIC BRING HOPE</h2>
      <a href="#donate"><button class="btn btn-lg btn-primary btn-give">Give</button></a>
      <a href="#contact"><button class="btn btn-lg btn-primary btn-serve">Serve</button></a>
	</div>	

  <!-- Sponsors Bar -->
  <div class = "sponsor-bar">
    <a href="http://www.rockinrodeodenton.com"><img class="img-square" src="RR-full-logo.png" alt="Generic placeholder image" style="width: 18%; height: 100%; padding-left: 2%; padding-right: 2%;"></a>
    <a href="http://www.uc4life.com"><img class="img-square" src="UC4Life-Logo.png" alt="Generic placeholder image" style="width: 10%; height: 100%; padding-left: 2%; padding-right: 2%;"></a>
    <a href="http://www.thecommondesk.com"><img class="img-square" src="CD_orange.png" alt="Generic placeholder image" style="width: 10%; height: 90%; padding-left: 2%; padding-right: 2%;"></a>
    <a href="http://www.taylorrealtyassociates.com"><img class="img-square" src="logo-2.png" alt="Generic placeholder image" style="width: 15%; height: 90%; padding-left: 2%; padding-right: 2%;"></a>
  </div>  

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row home-news">
        <div class="col-sm-12 col-md-4 col-home">
          <h2>
          	<div class="header2">
          		<p>UPCOMING</p>
          		<p>EVENTS</p>
          	</div>
          </h2>
         
          <img class="home-square" src="HomeEvent.png" alt="Generic placeholder image" style="width: 100%;">
          <p>We are humbled and blessed by all the support we have received from you for our first year!  Our kickoff concert was a hit!  Green River Ordinance, David Dunn, and Northern national put on a fantastic show and helped us spread spread awareness for Children at Risk and The Net! Our Hope for the Holidays Gala was a huge success too! And the funds and awareness we raised sets us up for 2015 to be phenomenal! Be on the look out for our upcoming music festival to be announced soon! </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-12 col-md-4 col-home">
          <h2>
          	<div class="header2">
          		<p>FEATURED</p>
          		<p>ARTIST</p>
          	</div>
          </h2>
           <img class="home-square" src="DavidDunn.jpg" alt="cmon man" style="width: 100%;">

          <p>David Dunn, a Texas native, now with the support of Seattle-based BEC Recordings, is making his debut on a national stage with his new album Crystal Clear.  Dunn's unorthodox production and catchy hooks enable him "to tell the truth and do it in a beautiful way."</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-12 col-md-4 col-home">
          <h2>
          	<div class="header2">
          		<p>Debut</p>
          		<p>Concert</p>
          	</div>
          </h2>
          <iframe class="home-youtube" width="100%" height="240px" src="//www.youtube.com/embed/Sf1vDDoFB2c" frameborder="0" allowfullscreen></iframe>
          <p>Melody of Hope's debut concert benefiting "The NET" and "Children at Risk" headlined by Green River Ordinance with special guests David Dunn and Northern National! Big thanks to all our sponsors and Atonement Entertainment for donating their time and creating this rad highlight video of the evening!.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- Instagram Gallery -->
      <div class="instagram-gallery" ng-style="InstagramBgImg" style="width: 73%; height: auto;">
        <!-- www.intagme.com -->
        <iframe class="instagram-roll" src="http://www.intagme.com/in/?u=bWVsb2R5b2Zob3BlfGlufDEwMHwxM3wxfHx5ZXN8NXx1bmRlZmluZWR8eWVz" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;" ></iframe>
      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
</body>
</html>