<body>	

 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="homebg">
                <h1>MELODY OF HOPE</h>
                  <div class="hometext">
                    <p> Melody of Hope is a non-profit for the non-profits.  We partner with musicians to support local non-profit
                      organizations by raising funds and awareness for their causes.  Melody of Hope provides a means for the
                      musical arts to positively impact local communities.
                    </p>
                  </div>
                  <h2>LET THE MUSIC BRING HOPE</h>
                    <p><a class="btn btn-lg btn-primary btn-give" href="#" role="button">Give</a>
                      <a class="btn btn-lg btn-primary btn-serve" href="#" role="button">Serve</a></p>
                </div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



	<div class="homebg">
		<h1>MELODY OF HOPE</h>
		<div class="hometext">
			<p> Melody of Hope is a non-profit for the non-profits.  We partner with musicians to support local non-profit
				organizations by raising funds and awareness for their causes.  Melody of Hope provides a means for the
				musical arts to positively impact local communities.
			</p>
		</div>
		<h2>LET THE MUSIC BRING HOPE</h>
      <p><a class="btn btn-lg btn-primary btn-give" href="#" role="button">Give</a>
      <a class="btn btn-lg btn-primary btn-serve" href="#" role="button">Serve</a></p>
	</div>	

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="mid">
        <div class="col-lg-4 col-home-1">
          <h2>
          	<div class="header1">
          		<p>UPCOMING</p>
          		<p>EVENTS</p>
          	</div>
          </h2>
          <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%; height: 140px;">
          <p>Green River Ordinance October 1, 2014.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-home-2">
          <h2>
          	<div class="header2">
          		<p>FEATURED</p>
          		<p>ARTIST</p>
          	</div>
          </h2>
          <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%; height: 140px;">
          <p>David Dunn was born, learned music, and performed it.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-home-3">
          <h2>
          	<div class="header3">
          		<p>LATEST</p>
          		<p>BLOG</p>
          	</div>
          </h2>
          <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%; height: 140px;">
          <p>The MoH team recently visited the Net of Fort Worth to help our with their cause.</p>
        </div><!-- /.col-lg-4 -->
      </div><!--/.mid -->
      </div><!-- /.row -->


      <!-- Instagram Gallery -->
      <div class="instagram-gallery">
        <img class="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 100%; height: 140px;">
      </div>

      <!-- Bottom Bar Home -->
      <div class="bottom-bar-home">
      </div>
</body>