<body>	
<link rel="stylesheet" type="text/css" href="../../css/styles.css"></link> 
	<div class="team-body">
	<div class="team-description">
		<h1>MEET MELODY OF HOPE</h1>
		<div class="team-header">
			<div class="team-image">
				<img class="img-square" src="Teamphoto.png">
			</div>
			<div class="teamtext">
				<p> Melody of Hope is an electic team of vibrant youthful professionals inspired to change the world starting with North Texas.  We are scattered across DFW, yet unite under a singular vision: to see music bring hope to our local community.  What you see on the left is a formidable force.  The short period of time in which this team has assembled is indicative of the momentum at which Melody of Hope has plowed forward.  The volume of financial donors, organization partners, and event sponsors MoH has acquired is telling of the charisma and unity with which we operate.  Needless to say, meetings are fun, exciting and full of laughter.  If you don't know us, we hope to meet you soon!
				</p>
			</div>
		</div>
	</div>	


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container boardmembers">
    	<h1>BOARD OF DIRECTORS</h1>

      <!-- Three columns of text below the carousel -->
      <div class="row board-wrapper">
        <div class="mid">
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="charlie.jpeg" alt="Generic placeholder image" style="width: 100%;" ng-click="open('lg')">
          <p>Charlie Welch</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="James.jpg" alt="Generic placeholder image" style="width: 100%;" ng-click="open('lg')">
          <p>James Trawick</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="Kenna.jpg" alt="Generic placeholder image" style="width: 100%;" ng-click="open('lg')">
          <p>Kenna Weber</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="Corey.jpg" alt="Generic placeholder image" style="width: 100%;" ng-click="open('lg')">
          <p>Corey Holmes</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="Jeremy.png" alt="Generic placeholder image" style="width: 100%;" ng-click="open('lg')">
          <p>Jeremy Ottens</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="Shea.jpg" alt="Generic placeholder image" style="width: 100%;" ng-click="open('lg')">
          <p>Shea Thielemann</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-1 col-director">
          <img class="img-square board-image" src="David.jpg" alt="Generic placeholder image" style="width: 100%;" ng-click="open('lg')">
          <p>David Dunn</p>
        </div><!-- /.col-lg-4 -->
      </div><!--/.mid -->
      </div><!-- /.row -->
  </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Im a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


</body>